.card-object {
  margin-top: 5px;
  text-align: center;
  padding: 5px;
}

.card-body {
  text-align: center;
  margin: 0px;
}

#userIcon {
  margin: auto;
  padding-top: 2px;
}

.form-signin {
  width: 80%;
  padding: 15px;
  margin: 0 auto;
}

.program-view-header {
  text-align: center;
  margin: auto;
}

.center {
  text-align: center;
  margin: auto;
}
